<div class="row">
  <div class="col-lg-6 col-md-12">
    <h4>¿Qué es Quickly?</h4>
    <p> Quickly te permite guardar las citas de los libros que estás leyendo para
    que las revisites cuando necesites o para que las compartas con el mundo. </p>
  </div>

  <div class="col-lg-6 col-md-12">
    <h4>¿Cómo?</h4>
    <ol>
      <li>Regístrate</li>
      <li>Empieza a guardar tus citas</li>
      <li>Compártelas</li>
    </ol>
  </div>
</div>
