<div class="jumbotron">
  <h2>Quickly</h2>
  <p class="lead">Guarda tus notas y citas de un libro y compártelas.</p>

</div>

<div class="" id="vue-app">
  {{mess}}
</div>

<script type="text/javascript">

</script>
