<div class="jumbotron">
  <h2>Quickly</h2>
  <p class="lead">Guarda tus notas y citas de un libro y compártelas.</p>

</div>

<div class="" id="vue-app">
  <div class="row main-sections">
    <div class="col-md-6">
      Main Section
    </div>
    <div class="col-md-6">
      secondary section
    </div>
  </div>
</div>

<script type="text/javascript">

</script>
